<h1>
    PRODUCTOS
</h1>
{{#if products}}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id               </th>
                <th scope="col">Title            </th>
                <th scope="col">Description      </th>
                <th scope="col">Price            </th>
                <th scope="col">Thumbnail        </th>
                <th scope="col">Code             </th>
                <th scope="col">Stock            </th>
            </tr>
        </thead>
        <tbody>
        {{#each products}}
        <tr>
            <td>{{id}}          </td>
            <td>{{title}}       </td>
            <td>{{description}} </td>
            <td>{{price}}       </td>
            <td>{{thumbnail}}   </td>
            <td>{{code}}        </td>
            <td>{{stock}}       </td>
        </tr>
        {{/each}}
        </tbody>
    </tr>
    </table>
{{else}}
<p>No hay productos</p>
{{/if}}